/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.films-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.film-card {
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.film-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.no-image {
    text-align: center;
    color: #888;
}

.film-details {
    padding: 0 10px;
}

.description {
    color: #555;
}

.rating {
    font-weight: bold;
    margin-bottom: 5px;
}

.horaires img {
    width: 100px;
    /* Taille en largeur */
    height: 50px;
    /* Hauteur automatique pour conserver les proportions */
    margin-right: 10px;
    /* Marge à droite pour séparer l'image du texte */
}